* {
  box-sizing: border-box;
}

body {
  font-family: Optima;
  margin: 0;
}

header, footer, main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header, footer {
  background-color: #555;
  color: ghostwhite;
  padding: 1rem;
  margin: 0;
}

header {
  height: 8rem;
}

header h1 {
  margin: 1rem;
}

main {
  min-height: calc(100vh - 12rem);
  padding: 2rem;
}

main > section {
  background-color: #ddd;
  color: #555;
  width: 100%;
  height: auto;
  margin: 1rem auto;
  padding: 1rem;
}

main > section a {
  color: #555;
}

main > section a:hover {
  color: black;
}

main > section a:visited {
  color: deeppink;
}

footer {
  height: 4rem;
}

